@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @{ Html.RenderAction("Header", "ViewHelpers"); }
</head>
<body id="page-top" class="index">

    @{Html.RenderAction("Body", "ViewHelpers");}


    <!-- jQuery -->
    <script src="/Views/Themes/Agency/Assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Views/Themes/Agency/Assets/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/Views/Themes/Agency/Assets/js/classie.js"></script>
    <script src="/Views/Themes/Agency/Assets/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="/Views/Themes/Agency/Assets/js/jqBootstrapValidation.js"></script>
    <script src="/Views/Themes/Agency/Assets/js/contact_me.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Views/Themes/Agency/Assets/js/agency.js"></script>
    @*@{Html.RenderAction("LoadFeaturedProducts", "ViewHelpers", new { viewFile = "_modalsForProducts" });}*@
    <script src="/js/PeriAttrEngine.js"></script>
    <script src="/Views/Themes/Agency/Assets/js/main.js"></script>
    <script>
        var shopCart = function (data, domElement) {
            domElement.text(data + " (6)");
        }
        var setBackgroundImage = function (data, domElement) {
            domElement.css("background-image", "url(" + data + ")");
        }
        var beforeSendFunction = function (data, context, callback) {
            var id = context.mainContext.data("id");
            if (id != undefined) {

                data.Id = id;
                callback(data);
            }
        }
    </script>
</body>
</html>
