@{
    Layout = null;
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contenido de pagina principal</h2>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Contenidos definidos
                    <button data-modal disabled="disabled" data-url="@Url.Action("EditContent")" class="btn btn-default btn btn-sm pull-right">
                        Crear
                    </button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="control-label">
                                Buscar
                            </label>
                            <input type="search" class="form-control" id="searchTable" />
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">
                                Preferencia de busqueda
                            </label>
                            <select id="column" class="form-control">
                                <option value="Key">Llave</option>

                                <option value="Value">Valor</option>
                                <option value="Type">Tipo de Contenido</option>

                                <option value="ThemeReferenceName">Tema</option>
                            </select>
                            <div class="checkbox-inline">
                                <label class="control-label">
                                    <input id="onlyActiveTheme" type="checkbox"/>Solo mostrar contenido del tema activo
                                </label>
                            </div>
                        </div>
                    </div>
                    <br />
                    <table id="contents" class="table table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th>Llave</th>
                                <th>Valor</th>
                                <th>Tipo de contenido</th>
                                <th>Tema</th>
                                <th class="text-center">Tipo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

        $(document).ready(function () {
            window.modalInstance = abp.app.bootstrap.modal();
            var table = $('#contents').DataTable({
                "bServerSide": true,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "dom": 'lrtip',
                ajax: {
                    url: "/Admin/MyStore/GetMainContents",
                    data: function (d) {
                        return $.extend({}, d, {
                            "SearchCol": $("#column").val(),
                            "GenericProperty": $("#onlyActiveTheme").is(":checked")
                        });
                    }
                },
                language: window.dataTablesLang,
                columns: [
                    {
                        "data": "Key"
                    },
                    {
                        "data": "Value"
                    },
                    {
                        "data": "Type"
                    },
                    {
                        "data": "ThemeReferenceName"
                    }
                ],
                "columnDefs": [
                    {
                        // The `data` parameter refers to the data for the cell (defined by the
                        // `data` option, which defaults to the column being worked with, in
                        // this case `data: 0`.
                        className: "text-center",
                        //<a href='/Admin/Products/AddGalardon/" + row.Id + "' title='Galardones ó Certificaciones' class='btn btn-sm btn-default'><i class='fa fa-trophy'></i></a>
                        "render": function (data, type, row) {
                            var edtiBtn = " <a title='Editar' data-modal href='/Admin/MyStore/EditContent/" + row.Id + "' class='btn btn-xs btn-default'><i class='fa fa-edit'></i></a>";
                            var allbtns = edtiBtn;
                            if (!row.IsStatic) {
                                var deleteBtn = " <a title='Eliminar' data-modal href='/Admin/MyStore/DeleteContent/" + row.Id + "' class='btn btn-xs btn-danger'><i class='fa fa-times'></i></a>";
                                allbtns += deleteBtn;
                            }
                            return allbtns;
                        },
                        "targets": 5
                    },
                    {
                        // The `data` parameter refers to the data for the cell (defined by the
                        // `data` option, which defaults to the column being worked with, in
                        // this case `data: 0`.
                        className: "text-center",
                        //<a href='/Admin/Products/AddGalardon/" + row.Id + "' title='Galardones ó Certificaciones' class='btn btn-sm btn-default'><i class='fa fa-trophy'></i></a>
                        "render": function (data, type, row) {
                            if (!row.IsStatic) {
                                return "<span class='label label-primary'> No Estatico </span>";
                            }
                            return "<span class='label label-warning'> Estatico </span>";
                        },
                        "targets": 4
                    }
                ]
            });
            abp.event.on("AddContent", function () {
                table.ajax.reload();
            });
            $("#searchTable").on("keyup", function () {
                table.search(this.value).draw();
            });
            $("#onlyActiveTheme").change(function() {
                table.search($("#searchTable").val()).draw();
            });
            $("#column").change(function () {
                table.search($("#searchTable").val()).draw();
            });
        });
    })($);
</script>