@{
    Layout = null;
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Contenido de pagina principal</h2>
           
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Contenidos definidos
                    <button class="btn btn-default btn btn-sm pull-right">
                        Crear
                    </button>
                </div>
                <div class="panel-body">

                    <table id="contents" class="table table-responsive table-condensed">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Llave</th>
                                <th>Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    (function ($) {

        $(document).ready(function () {
            window.modalInstance = abp.app.bootstrap.modal();
            $('#contents').DataTable({
                "bServerSide": true,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "ajax": "/Admin/MyStore/GetMainContents",
                language: window.dataTablesLang,
                columns: [
                    {
                        "data": "Id"
                    },
                    {
                        "data": "Key"
                    },
                    {
                        "data": "Value"
                    }
                ],
                "columnDefs": [
                    {
                        // The `data` parameter refers to the data for the cell (defined by the
                        // `data` option, which defaults to the column being worked with, in
                        // this case `data: 0`.
                        className: "text-center",
                        //<a href='/Admin/Products/AddGalardon/" + row.Id + "' title='Galardones ó Certificaciones' class='btn btn-sm btn-default'><i class='fa fa-trophy'></i></a>
                        "render": function (data, type, row) {
                            return " <a title='Editar' href='/Admin/Products/AddProduct/" + row.Id + "' class='btn btn-sm btn-default'><i class='fa fa-edit'></i></a>";
                        },
                        "targets": 3
                    }
                ]
            });
        });
    })($);
</script>