@{ Layout = null;}

@model MercadoCinotam.Products.Client.Dtos.GalardonList


    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading" data-property="SimpleThemeService.SimpleTheme.Certifications"></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" data-source="Galardons" data-iterate="galardons">
            <div data-template="galardons">
                <div style="min-height: 166px; overflow: hidden" class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="" data-iproperty="Image" data-printproperty="src" data-replicate="false" class="img-responsive img-rounded" style="width: 64px; height: 64px; margin: 0 auto; overflow: hidden;" />
                        <h3 data-iproperty="GalardonName"></h3>
                    </div>
                </div>
            </div>
            @*@foreach (var gal in Model.Galardons)
            {

                <div style="min-height: 166px; overflow: hidden" class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <img src="@gal.Image" class="img-responsive img-rounded" style="width: 64px; height: 64px; margin: 0 auto; overflow: hidden;"/>
                        <h3>@gal.GalardonName</h3>
                    </div>
                </div>
            }*@
        </div>
    </div>