@model MercadoCinotam.Products.Client.Dtos.FeaturesList
@{
    Layout = null;
}
@if (Model.Features.Any())
{
    <div class="row">
        <div class="col-lg-12">
            <div class="little-container">
                <h3 class="text-center" data-servicename="SimpleThemeService" data-property="SimpleTheme.Features"></h3>
                <ul class="list-group">
                    @foreach (var feature in Model.Features)
                {
                        <li>
                            <span class="fa fa-certificate"></span>  @feature.FeatureText
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}

