@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="@UICulture">
<head>
    @{ Html.RenderAction("Header", "ViewHelpers"); }
</head>
<body id="page-top">
    @{ Html.RenderAction("Body", "ViewHelpers"); }
    <!-- jQuery -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/scrollreveal.min.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.easing.min.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.fittext.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/creative.js"></script>

@*<script src="/js/PeriAttrEngine.js"></script>*@
    <script src="~/js/PeriAttrEngine.min.js"></script>
    <script src="/Views/Themes/SimpleTheme/Assets/js/main.js"></script>
    <script>
        var shopCart = function (data, domElement) {
            domElement.text(data + " (6)");
        }
        var setBackgroundImage = function (data, domElement) {
            domElement.css("background-image", "url(" + data + ")");
        }
        var beforeSendFunction = function (data, context, callback) {
            var id = context.mainContext.data("id");
            if (id != undefined) {

                data.Id = id;
                callback(data);
            }
        }
    </script>
</body>
</html>
