@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" data-async="false" data-printproperty="content" data-property="SimpleThemeService.Custom.MetaTags.Description">
    <meta name="author" content="">
    <meta name="keywords" data-async="false" data-printproperty="content" data-property="SimpleThemeService.Custom.MetaTags.Tags">
    <title>Basic theme landing page</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/css/magnific-popup.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/css/creative.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="~/Views/Themes/SimpleTheme/Assets/css/overlay.css" rel="stylesheet" />
        <![endif]-->
    <link href="~/Views/Themes/SimpleTheme/Assets/css/overlay.css" rel="stylesheet" />
    <style>
        .details-text {
            margin-top: 40px;
            line-height: 25px;
            -webkit-font-stretch: semi-condensed;
            -moz-font-stretch: semi-condensed;
            -ms-font-stretch: semi-condensed;
            -o-font-stretch: semi-condensed;
            font-stretch: semi-condensed;
            font-weight: 100;
        }

        .little-container {
            width: 80%;
            margin: 0 auto;
        }

            .little-container ul {
                margin-top: 30px;
            }

                .little-container ul > li {
                    margin: 10px;
                    font-weight: 100;
                    /* font-stretch: inherit; */
                    font-size: 1.1em;
                    line-height: 30px;
                    list-style: none;
                }
    </style>
</head>
<body id="page-top">
    <div id="overlay" class="overlay">
        <div class="overlay-content text-center">
            <a>
                <h1 data-async="false" data-property="SimpleThemeService.SimpleTheme.LoadPage.SecTitle"></h1>
                <h2 data-async="false" data-property="SimpleThemeService.SimpleTheme.LoadPage.Text"></h2>
                <h2 data-async="false" data-property="SimpleThemeService.SimpleTheme.LoadPage.SecText"></h2>
            </a>
            <img class="img-responsive img-circle shake" style="width: 200px; height: 200px; margin: 0 auto; " src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" />
        </div>
    </div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<div class="logo">
                        <img style="width: 32px; height: 32px;" src="@{Html.RenderAction("GetPymePropertyValue", "ViewHelpers", new { property = "PymeLogo" });}" />
                    </div>*@
                <a class="navbar-brand page-scroll" data-property="PymeInfo.PymeName" href="#page-top"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-params='{"hello":"world"}' data-property="SimpleThemeService.SimpleTheme.Menu.AboutUs" href="#about"></a>
                    </li>
                    <li>
                        <a class="page-scroll" data-property="SimpleThemeService.SimpleTheme.Menu.OurProducts" href="#services"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#certifications" data-property="SimpleThemeService.SimpleTheme.Menu.Certifications"></a>
                    </li>
                    <li>
                        <a class="page-scroll" data-property="SimpleThemeService.SimpleTheme.Menu.Contact" href="#contact"></a>
                    </li>
                    <li>
                        <a class="page-scroll" data-callback="shopCart" data-ignoreall="true" data-property="SimpleThemeService.SimpleTheme.Menu.Cart" href="#"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header data-async="false" data-ignoreall="true" data-callback="setBackgroundImage" data-property="SimpleThemeService.SimpleTheme.Header.Background">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 data-property="PymeInfo.PymeName"></h1>
                <hr>
                <p data-property="PymeInfo.PymeSlogan"></p>
                @*<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>*@
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" data-property="SimpleThemeService.SimpleTheme.AboutUs"></h2>
                    <hr class="light">
                    <p class="text-faded" data-property="PymeInfo.About"></p>
                    <img class="img-circle" data-printproperty="src" data-property="PymeInfo.PymeLogo" style="width: 150px; height: 150px;" />
                    @*<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>*@
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" data-property="SimpleThemeService.SimpleTheme.OurProducts"></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div data-source="FeaturedProducts" data-iterate="products">
                <div data-template="products">
                    <div class="row">

                        <div class="col-sm-4">
                            <h4 class="text-center" data-iproperty="ProductName"></h4>
                            <img class="img-responsive img-rounded" style="" data-iproperty="MediumImage" data-replicate="false" data-printproperty="src" />
                            <br />
                            <p class="text-center">
                                <button class="btn btn-primary btn-sm" data-iproperty="Id" data-printproperty="data-id">Agregar al carro!</button>
                            </p>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="text-center">Caracteristicas</h3>
                            <div data-source="FeaturesOfProduct"
                                 data-iproperty="Id"
                                 data-printproperty="data-id"
                                 data-replicate="false"
                                 data-beforesend="beforeSendFunction"
                                 data-iterate="features">
                                <ul class="list-group" data-template="features">
                                    <li class="list-group-item"><a data-iproperty="FeatureText"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section id="certifications" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" data-property="SimpleThemeService.SimpleTheme.Certifications"></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" data-source="Galardons" data-iterate="galardons">
                <div data-template="galardons">
                    <div style="min-height: 166px; overflow: hidden" class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <img src="" data-iproperty="Image" data-printproperty="src" data-replicate="false" class="img-responsive img-rounded" style="width: 64px; height: 64px; margin: 0 auto; overflow: hidden;" />
                            <h3 data-iproperty="GalardonName"></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" data-property="SimpleThemeService.SimpleTheme.GetInTouch"></h2>
                    <hr class="primary">
                    <p data-property="SimpleThemeService.SimpleTheme.GetInTouchMessage"></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p data-property="PymeContact.PhoneNumber">123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p>
                        <a data-property="PymeContact.Email" data-replicate="true" data-printproperty="href"></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/scrollreveal.min.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.easing.min.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.fittext.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/creative.js"></script>

    <script src="/js/PeriAttrEngine.js"></script>
    <script src="/Views/Themes/SimpleTheme/Assets/js/main.js"></script>
    <script>
        var shopCart = function (data, domElement) {
            domElement.text(data + " (6)");
        }
        var setBackgroundImage = function (data, domElement) {
            domElement.css("background-image", "url(" + data + ")");
        }
        var beforeSendFunction = function (data, context, callback) {
            console.log("Test of callbackfunction -->");
            var parent = $(context).parent();
            console.log(parent);
            var id = parent.data("id");
            console.log(id);
            if (id != undefined) {

                data.Id = id;
                callback(data);
            }
        }
    </script>
</body>
</html>
