@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" data-servicename="SimpleThemeService" data-printproperty="content" data-property="Custom.MetaTags.Description">
    <meta name="author" content="">
    <meta name="keywords" data-servicename="SimpleThemeService" data-printproperty="content" data-property="Custom.MetaTags.Tags">
    <title>Basic theme landing page</title>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/css/bootstrap.min.css" type="text/css">
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/css/magnific-popup.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/Views/Themes/SimpleTheme/Assets/css/creative.css" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <link href="~/Views/Themes/SimpleTheme/Assets/css/overlay.css" rel="stylesheet" />
        <![endif]-->
    <link href="~/Views/Themes/SimpleTheme/Assets/css/overlay.css" rel="stylesheet" />
</head>
<body id="page-top">
    <div id="overlay" class="overlay">
        <div class="overlay-content text-center">
            <a>
                <h1>Getting the awesome!!</h1>
                <h2>Such load...</h2>
                <h2>Very async...</h2>
            </a>
            <img class="img-responsive img-circle shake" style="width: 200px; height: 200px; margin: 0 auto; " src="https://pbs.twimg.com/profile_images/378800000822867536/3f5a00acf72df93528b6bb7cd0a4fd0c.jpeg" />
        </div>
    </div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*<div class="logo">
                        <img style="width: 32px; height: 32px;" src="@{Html.RenderAction("GetPymePropertyValue", "ViewHelpers", new { property = "PymeLogo" });}" />
                    </div>*@
                <a class="navbar-brand page-scroll" data-property="PymeName" data-servicename="PymeInfo" href="#page-top"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" data-servicename="SimpleThemeService" data-property="SimpleTheme.AboutUs" href="#about">Acerca de</a>
                    </li>
                    <li>
                        <a class="page-scroll" data-servicename="SimpleThemeService" data-property="SimpleTheme.OurProducts" href="#services">Nuestros Productos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#certifications" data-servicename="SimpleThemeService" data-property="SimpleTheme.Certifications">Certifications</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contacto</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 data-property="PymeName" data-servicename="PymeInfo"></h1>
                <hr>
                <p data-property="PymeSlogan" data-servicename="PymeInfo"></p>
                @*<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>*@
            </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" data-servicename="SimpleThemeService" data-property="SimpleTheme.AboutUs"></h2>
                    <hr class="light">
                    <p class="text-faded" data-property="About" data-servicename="PymeInfo"></p>
                    <img class="img-circle" data-printproperty="src" data-property="PymeLogo" data-servicename="PymeInfo" style="width: 150px; height: 150px;" />
                    @*<a href="#services" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>*@
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" data-servicename="SimpleThemeService" data-property="SimpleTheme.OurProducts"></h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            @{Html.RenderAction("LoadFeaturedProducts", "ViewHelpers");}
        </div>
    </section>
    @*<section class="no-padding" id="portfolio">
            <div class="container-fluid">
                <div class="row no-gutter popup-gallery">
                    @{Html.RenderAction("LoadMoreProducts","ViewHelpers",new {Take = 6});}
                </div>
            </div>
        </section>*@
    <section id="certifications" class="bg-primary">
        @{Html.RenderAction("AllGalardons", "ViewHelpers");}
        @*<aside class="bg-dark">
                <div class="container text-center">
                    <div class="call-to-action">
                        <h2>Ver mas!</h2>
                        <a href="@Url.Action("Index","Products")" class="btn btn-default btn-xl sr-button">Acceder a la tienda</a>
                    </div>
                </div>
            </aside>*@
    </section>
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading" data-servicename="SimpleThemeService" data-property="SimpleTheme.GetInTouch"></h2>
                    <hr class="primary">
                    <p data-servicename="SimpleThemeService" data-property="SimpleTheme.GetInTouchMessage"></p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p data-property="PhoneNumber" data-servicename="PymeContact">123-456-6789</p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p>
                        <a  data-callback="callbackSample" data-property="Email" data-replicate="true" data-printproperty="href" data-servicename="PymeContact"></a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/scrollreveal.min.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.easing.min.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.fittext.js"></script>
    <script src="~/Views/Themes/SimpleTheme/Assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Views/Themes/SimpleTheme/Assets/js/creative.js"></script>

    <script src="/js/PeriAttrEngine.js"></script>
<script src="/Views/Themes/SimpleTheme/Assets/js/main.js"></script>
<script>
    var callbackSample = function (data, domElement) {
        console.log("Callback worked");
        console.log("With data -- >");
        console.log(data);
        console.log("The doom >:) element is -->");
        console.log(domElement);
    }
</script>
</body>
</html>


