<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.1/b-colvis-1.2.1/b-flash-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.css" />


<div class="row">
    <div class="col-lg-12">
        <h2>Administrador de Productos</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Productos Disponibles <a href="@Url.Action("AddProduct","Products")" class="btn btn-default pull-right btn-sm">Agregar Producto</a>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">

                        <table id="products" class="table table-responsive table-condensed">
                            <thead>
                                <tr>
                                    <th>#Sku</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th>Estado</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/jszip-2.5.0/pdfmake-0.1.18/dt-1.10.12/af-2.1.2/b-1.2.1/b-colvis-1.2.1/b-flash-1.2.1/b-html5-1.2.1/b-print-1.2.1/cr-1.3.2/fc-3.2.2/fh-3.1.2/kt-2.1.2/r-2.1.0/rr-1.1.2/sc-1.4.2/se-1.2.0/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#products').DataTable({
                "bServerSide": true,
                "bPaginate": true,
                "sPaginationType": "full_numbers",
                "iDisplayLength": 10,
                "ajax": "/Admin/Products/GetProducts",
                language: window.dataTablesLang,
                columns: [
                    {
                        "data": "Sku"
                    },
                    {
                        "data": "ProductName"
                    },
                {
                    "data": "ProductPrice"
                },
                    {
                        "data": "Active"
                    }
                ],
                buttons: [
                'copy', 'excel', 'pdf'
                ],
                "columnDefs": [
                {
                    // The `data` parameter refers to the data for the cell (defined by the
                    // `data` option, which defaults to the column being worked with, in
                    // this case `data: 0`.
                    className: "text-center",
                    "render": function (data, type, row) {
                        return "<a href='/Admin/Products/AddGalardon/" + row.Id + "' title='Galardones ó Certificaciones' class='btn btn-sm btn-default'><i class='fa fa-trophy'></i></a> <a href='' class='btn btn-default btn-sm' title='Caracteristicas' ><i class='fa fa-bars'></i></a> <a href='' class='btn btn-default btn-sm' title='Historial de Stock' ><i class='fa fa-history'></i></a> <a title='Galeria' href='/Admin/Products/Gallery/" + row.Id + "' class='btn btn-sm btn-default'><i class='fa fa-image'></i></a> <a  title='Editar' href='/Admin/Products/AddProduct/" + row.Id + "' class='btn btn-sm btn-default'><i class='fa fa-edit'></i></a>";
                    },
                    "targets": 4
                }
                ]
            });
        });
    </script>
}